extends ./part/layout.pug
block content
  <div id="container">
     <div class="con_area">
        <div class="contents detail_view">
           <div class="post_article">
              <div class="cont_post">
                 <h1 class="posting_tit">#{source.title}</h1>
                 <dl class="post_info">
                    <dt><i class="xe-time-o"><span class="blind">등록일</span></i></dt>
                    dd=source.date
                    <dt><span class="blind">|</span></dt>
                    <dd><span class="line_bar">|</span></dd>
                    <dt><i class="xe-eye"><span class="blind">코멘트</span></i></dt>
                    dd=source.count
                 </dl>
                 - var a = "시험 기출문제"
                 case source.sourceType
                  when 0
                    a = "깜지"
                  when 1
                    a = "시험 기출문제"
                  when 2
                    a = "참고자료"
                 div(class="con_view")
                   span= "학수번호 : "+source.classNumber
                   br
                   span= "가격 : "+source.price+" 원"
                   br
                   span= "작성자 : "+source.writer
                   br
                   span= "소스 종류 : "+a
                   p
                   div= source.contents
                 </div>
                  a(download="imen127", href="/imen127.jpeg", class="buttonDownload") Download
              </div>
           </div>
           <span data-reactid=".0.1.0.0.1"></span>
           <div id="chak" class="chak-comment" data-chak-group="naverd2" data-chak-apikey="06a6cd086fd4652ebe8e1637c21e58dc-2656084" style="max-width: 760px; margin: 0px auto; position: relative;" data-reactid=".0.1.0.0.2" data-ready="true"><iframe src="//chak.it/g/service/06a6cd086fd4652ebe8e1637c21e58dc-2656084" scrolling="no" frameborder="no" id="CommentChak0" style="border: none; width: 100%; overflow: hidden; height: 358px;"></iframe></div>
        </div>
     </div>
  </div>
  //- 
  //- <div class="bg_sourceup_sec">
  //-   <div class="sourceup_area">
  //-     <div class="sourceup_sec">
  //-       <p class="sourceup_title">
  //-         <span>Upload</span>
  //-         <span class="bar">&nbsp;</span>
  //-         <span class="sourceup_sub_title">Source를 업로드합니다.</span>
  //-       </p>
  //-     </div>
  //-   </div>
  //- </div>
  //- <div id="container">
  //-   <div class="con_area">
  //-     <div class="contents">
  //-       <div class="write_form">
  //-         <form id="writeAction" action="source" method="post" enctype="multipart/form-data">
  //-             <input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="Title">
  //-             <div class="writeDetail">
  //-               <input type="text" class="inputSourceType" id="addContentSourceType" name="addContentSourceType" placeholder="Source Type (ex: Exam)">
  //-               <input type="text" class="inputPrice" id="addContentPrice" name="addContentPrice" placeholder="Price(won) (ex: 2000)">
  //-               <input type="text" class="inputClassNumber" id="addContentClassNumber" name="addContentClassNumber" placeholder="Class Number (ex: CSED 101)">
  //-               <input type="text" class="inputDepartment" id="addContentDepartment" name="addContentDepartment" placeholder="Department (ex: IME)">
  //-             </div>
  //-             <textarea class="textContents" id="addContents" name="addContents" rows="20" cols="80" placeholder="Detailed Explanation"></textarea>
  //-             <input type="file" class="inputFile" id="UploadFile" name="UploadFile">
  //-         </form>
  //-         <div id = "new" class="addBtngroup">
  //-           //- <div><a onclick="cancelWriteForm('cancel');">CANCEL</a></div>
  //-           //- title, file_url, price,created_at, source_type, department, course_id,description
  //-           div
  //-             a(id='send', onclick='App.start(); App.createProduct($("input.inputSubject").val(), "temp", $("input.inputPrice").val(), 1, $("input.inputSourceType").val(), $("input.inputDepartment").val(), $("input.inputClassNumber").val(), $("textarea.textContents").val()); submitContents("add");') SUBMIT
  //-         </div>
        </div>
        
        //- div 
        //-   h2.center-align(style='padding: 1em') What do you want to tell the world?
        //-   form(method='POST' action='/postmessage')
        //-     .row
        //-       .input-field
        //-         label(for='author') Author 
        //-         input.validate(type='text' name='author')
        //-     .row
        //-       .input-field
        //-         label(for='title') Title 
        //-         input.validate(type='text' name='title')
        //-     .row
        //-       .input-field
        //-         label(for='body') Message
        //-         input.validate(type='text' name='body')
        //-     button.btn.waves-effect.waves-light(type='submit', value='Submit')
        //-       i.material-icons send
      </div>
    </div>
//- </div>
block js
  <script type="text/javascript" src="source_upload.js"></script>
  <script type="text/javascript" src="senpai_hazimae.js"></script>
